/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs
.php_cs.cache
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# PHPCS
.php-cs-fixer.cache

# obfuscator
Obfuscator.php
make_obfuscate.php
composer.lock

# unit testing
